{% extends 'base.html' %}
{% load mathfilters %}
{% block csslink %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
			<div id="board">
				<form id="search_form" action="/board/search" method="post">
					{% csrf_token %}
					<input type="text" id="kwd" name="kwd" value="{{ kwd }}">
					<input type="submit" value="찾기">
				</form>
				<table class="tbl-ex">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						<th>&nbsp;</th>
					</tr>
					{% for b in board %}
					<tr>
						<td>{{ b.id }}</td>
						<td style="text-align:left; padding-left:{{ b.depth | add:1 | mul:10 }}px">
							{% if b.depth != 0 %}
								<img src="/assets/images/reply.png">
							{% endif %}
						<a href="/board/view/{{ b.id }}">{{ b.title }}</a></td>
						<td>{{ b.user.name }}</td>
						<td>{{ b.hit }}</td>
						<td>{{ b.regdate | date:'Y-m-d h:i:s' }}</td>
						<td>
						{% if request.session.authuser.id == b.user.id %}
							<a href="/board/delete/{{ b.id }}" class="del">삭제</a>
						{% endif %}
						</td>
					</tr>
					{% endfor %}
				</table>
				<!-- pager 추가 -->
				<div class="pager">
					<ul>
						<li><a href="/board/list/1/{{ kwd }}">◀</a></li>
						{% if page_no > 2 %}
						<li><a href="/board/list/{{ page_no | sub:2 }}/{{ kwd }}">{{ page_no | sub:2 }}</a></li>
						{% endif %}
						{% if page_no > 1 %}
						<li><a href="/board/list/{{ page_no | sub:1 }}/{{ kwd }}">{{ page_no | sub:1 }}</a></li>
						{% endif %}
						<li class="selected">{{ page_no}}</li>
						{% if rpage_count >= 1 %}
						<li><a href="/board/list/{{ page_no | add:1 }}/{{ kwd }}">{{ page_no | add:1 }}</a></li>
						{% endif %}
						{% if rpage_count >= 2 %}
						<li><a href="/board/list/{{ page_no | add:2 }}/{{ kwd }}">{{ page_no | add:2 }}</a></li>
						{% endif %}
						<li><a href="/board/list/{{ page_count }}/{{ kwd }}">▶</a></li>
					</ul>
				</div>
				{% if request.session.authuser is not None %}
				<div class="bottom">
					<a href="/board/write" id="new-book">글쓰기</a>
				</div>
				{% endif %}
			</div>
{% endblock content %}
